<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    <h1>{{ pageTitle }}</h1>
    <h2>{{ subTitle }}</h2>
    <h2>{{ subsubTitle }}</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga facere perferendis ipsa dolorum. Sint, quia, at illum quasi nostrum odit consequatur non, eveniet culpa eum cum repellat nihil consequuntur explicabo?
    Ratione distinctio quidem voluptatem eaque. Tempore ratione repudiandae quis, molestiae voluptatum doloribus, obcaecati recusandae doloremque delectus, neque voluptatibus laboriosam quisquam velit eius? Sequi maiores consectetur unde blanditiis, ex nam explicabo.
    Aspernatur velit quisquam commodi, blanditiis saepe odit ducimus, eius porro beatae provident, dolor adipisci itaque eligendi nostrum. Nam sed commodi tempore officiis itaque? Deleniti vel nam beatae iure dolorum sit!
    Saepe quaerat mollitia repellendus quia eaque cupiditate aut voluptate dolorem, eum libero nulla natus. Molestias temporibus iusto, eveniet est libero fugiat natus omnis illum facere recusandae! Voluptatibus sint ducimus ratione.</p>

<form action="">
    <input type="text" id="salary" placeholder="wprowadź swoją wypłatę netto">
    <button id="getSalary">Wyślij</button>
    <p id="result"></p>

</form>

<button>XD</button>



    <script src="../js/func.js"></script>
</body>
</html>